@font-face {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  src: url("./Abel/Abel.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  src: url("./GothamPro/GothamPro.woff") format("woff");
}

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  src: url("./GothamPro/GothamPro-Bold.woff") format("woff");
}
